fieldset{
    border: none;
}

#fieldset-legajos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

#fieldset-elemento{
    
    align-items: center;
    display: grid;
    grid-template-columns: .2fr 1fr .5fr;
    font-size: small;
}

#fieldset-elemento-devolucion{
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#div-estado-elemento{
    grid-column: 2/2;
}